@import url("@/assets/font/font.css");

#app {
  font-family: "KNPSKkomi";
  font-size: clamp(1rem, 1.4vw, 2rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  position: relative;
}

#app::before {
  content: "";
  background-image: url("@/assets/landing/landing_topBackground.png");
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: cover;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.app_view {
  max-width: 80vw;
}

@media (max-width: 1199px) {
  .app_view {
    max-width: 85vw;
  }
}

@media (max-width: 991px) {
  .app_view {
    max-width: 89vw;
  }
}

@media (max-width: 767px) {
  .app_view {
    max-width: 94vw;
  }
}

@media (max-width: 575px) {
  .app_view {
    max-width: 98vw;
  }
}