@import url("@/assets/font/font.css");

#app {
  font-family: "SeoulNamsanEB";
  font-size: clamp(0.8rem, 1.4vw, 1.2rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  /* 배경화면 변경해주세요 */
  background-image: url("@/assets/landing/landing_topBackground.png");
  /* background-image: url("@/assets/landing/landing_nightsky.png"); */
  /* background-color: #ffe9f1; */
  background-size: cover;
}

body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.app_view {
  max-width: 80vw;
}

@media (max-width: 1199px) {
  .app_view {
    max-width: 85vw;
  }
}

@media (max-width: 991px) {
  .app_view {
    max-width: 89vw;
  }
}

@media (max-width: 767px) {
  .app_view {
    max-width: 94vw;
  }
}

@media (max-width: 575px) {
  .app_view {
    max-width: 98vw;
  }
}
