.outDiv {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diaryWriteTop {
  background-size: 100% 100%;
  height: 100%;
  flex-basis: 12vh;
}

.diaryDetailTop {
  display: flex;
  background-size: 100% 100%;
  height: 100%;
  flex-basis: 30vh;
  font-size: clamp(0.5rem, 3vw, 2.2rem);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

hr {
  width: 80%;
  height: 1.5px;
  border: 0;
  background-color: rgb(56, 56, 56);
}

.topOutDiv {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: end;
  justify-items: center;
}

.flexTop {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8px;
}

.flexTop > .flexLeft {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  font-size: clamp(0.7rem, 2vw, 1.7rem);
}

.weatherDiv {
  margin-left: 2vw;
  display: flex;
  align-items: flex-end;
}

.weatherDetailDiv {
  display: flex;
  align-items: center;
}

.selectWeather {
  max-width: 100px;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.v-select {
  min-height: 0px;
  padding: 0px;
}

.weatherImg {
  margin-left: 10px;
  min-width: 20px;
  width: 3vw;
  max-width: 40px;
}

.box {
  display: flex;
  align-items: center;
  width: 70%;
  height: 72%;
  justify-content: center;
}

.box > img {
  max-width: 190px;
  width: 100%;
  height: auto;
  filter: drop-shadow(3px 3px 3px rgb(133, 133, 133));
}

.textFlex {
  display: flex;
  height: 72%;
  flex-direction: column;
  justify-content: space-evenly;
}

.diarymiddle {
  flex-basis: 45vh;
  position: relative;
  background-repeat: repeat-y;
  background-size: contain;
}

.diaryDitailmiddle {
  flex-basis: 40vh;
  position: relative;
  background-repeat: repeat-y;
  background-size: contain;
}

.diarymiddleImg {
  flex-basis: 43vh;
  position: relative;
  background-repeat: repeat-y;
  background-size: contain;
}

.diarymiddle > .selectImg {
  vertical-align: middle;
  margin: 0 auto;
  width: 80%;
}

.selectImg > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 80%;
}

.selectImg > .v-icon {
  position: absolute;
  top: 8%;
  right: 11%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 80%;
}

.textWriteDiv {
  vertical-align: middle;
  margin: 0 auto;
  width: 80%;
}

.textWrite {
  width: 100%;
  padding: 10px 10px;
  min-height: 100%;
  border: none;
  resize: none;
  font-size: clamp(1.2rem, 2.6vw, 2.5rem);
  line-height: 1.5;
  -ms-overflow-style: none;
}
.textWrite::-webkit-scrollbar {
  display: none;
}

.textWrite:focus {
  outline: none;
}

.textLength {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.diarybottom {
  background-size: 100% 100%;
  height: 100%;
  flex-basis: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.btn_image {
  width: 40%;
  margin-bottom: 30px;
}

.diarybottom > div {
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-bottom: 34px; */
}

.customButton {
  height: 38%;
  margin-bottom: 20px;
}

.microButton {
  position: fixed;
  bottom: 6.5%;
  right: 21%;
  width: 50px;
  height: 50px;
}

.microButton > button {
  width: 100%;
  height: 100%;
  border-radius: 70%;
  object-fit: cover;
}

.onMike {
  background-color: #888898;
}

.v-icon {
  color: white;
}

.offMike {
  background-color: rgb(236, 72, 72);
}

@media (max-width: 1199px) {
  .microButton {
    position: fixed;
    bottom: 60px;
    right: 18%;
    width: 50px;
    height: 50px;
  }
  .diaryDetailTop {
    display: flex;
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 27vh;
    font-size: clamp(0.5rem, 3vw, 2.2rem);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .diarymiddle {
    flex-basis: 45.2vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarymiddleImg {
    flex-basis: 40vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarybottom {
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 991px) {
  .app_view {
    max-width: 89vw;
  }
  .microButton {
    position: fixed;
    bottom: 60px;
    right: 16%;
    width: 50px;
    height: 50px;
  }
  .diaryDetailTop {
    display: flex;
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 24vh;
    font-size: clamp(0.5rem, 3vw, 2.2rem);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .diarymiddle {
    flex-basis: 45.4vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarymiddleImg {
    flex-basis: 35vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarybottom {
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .app_view {
    max-width: 94vw;
  }
  .microButton {
    position: fixed;
    bottom: 60px;
    right: 13%;
    width: 50px;
    height: 50px;
  }
  .diaryDetailTop {
    display: flex;
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 21vh;
    font-size: clamp(0.5rem, 3vw, 2.2rem);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .diarymiddle {
    flex-basis: 45.7vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarymiddleImg {
    flex-basis: 30vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarybottom {
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 575px) {
  .weatherImg {
    width: 10px;
  }
  .microButton {
    bottom: 5%;
    right: 10%;
    width: 50px;
    height: 50px;
  }
  .diaryDetailTop {
    display: flex;
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 18vh;
    font-size: clamp(0.5rem, 3vw, 2.2rem);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .diarymiddle {
    flex-basis: 46vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .diarymiddleImg {
    flex-basis: 27vh;
    position: relative;
    background-repeat: repeat-y;
    background-size: contain;
  }
  .btn_image {
    width: 22%;
  }
  .customButton {
    margin-bottom: 20px;
  }
  .diarybottom {
    background-size: 100% 100%;
    height: 100%;
    flex-basis: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
